//Base: contained within this file are all your resets, variables, mixins, and any utility classes.

@font-face {
  font-family: "Luckiest Guy";
  src: url("../assets/LuckiestGuy.ttf") format("truetype");
}

$font-body: "Luckiest Guy";

@mixin respond($breakpoint) {
  @if $breakpoint==tablet {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint==laptop {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }
}

* {
  padding: 0;
  margin: 0;
  // font-family: $font-body;
  box-sizing: border-box;
}
