@use "./base" as *;

// .main {
//   background: red;
//   // normal styling code here

//   @include respond(tablet) {
//     background: green;
//     // responsive code for tablet viewport i.e. 600px
//   }

//   @include respond(laptop) {
//     background: blue;
//     // responsive code for mobile viewport i.e. 480px
//   }
body {
  background-color: #eaf0f1;
  height: 100vh;
}

.game-wrapper {
  border: 2px solid;
  border-radius: 15px;
  margin: 15vh auto auto auto;
  height: 40vh;
  width: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  box-shadow: 7px 7px 28px 0px rgba(50, 50, 50, 0.6);
  padding: 7px;
  background-color: #d7baa4;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

.score-board {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 5vh;
  align-items: center;
}
.score-board .score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding: 5px 10px;
}

.column {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: relative;
}

.slot {
  background-color: #eaf0f1;
  width: 90%;
  height: 15%;
  z-index: 2;
  border-radius: 50%;
  box-shadow: inset 7px 7px 20px 0px rgba(50, 50, 50, 0.4);
  opacity: 1;
}

.slot.clickable:hover {
  background-color: grey;
}