@use "./base" as *;

// .main {
//   background: red;
//   // normal styling code here

//   @include respond(tablet) {
//     background: green;
//     // responsive code for tablet viewport i.e. 600px
//   }

//   @include respond(laptop) {
//     background: blue;
//     // responsive code for mobile viewport i.e. 480px
//   }

body {
  background-color: #eaf0f1;
  height: 100vh;
}
.grid {
  border: 2px solid;
  margin: 30vh auto auto auto;
  height: 40vh;
  width: 85%;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;


  background-color: #d7baa4;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2em;
    border: 1px solid;
    border-radius: 50%;
    background-color: #eaf0f1;
  }
}

.token-red {
  background-image: url(../assets/red.png);
  object-fit: contain;
}
.token-blue {
  background-image: url(../assets/blue.png);
  object-fit: contain;
}


